{% extends 'base/base.html' %}

{% block content %}
<section class="about">
    <div class="about-rowone">
        <div class="about-bg1">
            <div class="about-bg-overlay">
                <h2>About us</h2>
                <p>We love our job</p>
            </div>
        </div>
        <div class="about-content">
            <div id="lamp" class="lamp js-turnoff-btn">
                <div class="lamp-item lamp-top"></div>
                <div class="lamp-item lamp-middle"></div>
                <div class="lamp-item lamp-bottom"></div>
                <div class="lamp-item lamp-light open"></div>
            </div>
            <div class="about-text totl">
                <p>
                    We have become one of San Antonio’s most respected homebuilders, with a reputation for designing
                    beautiful and unique homes that reflect the needs and desires of our homeowners. Look to us for
                    individualized service tailored to meet your specific needs.
                </p>
                <p>
                    From floor plan selection to blueprint design, financing, and professional interior design, we
                    provide a complete array of quality services to our clients, some of whom are living in their second
                    or third Mike Hollaway Custom Home.
                </p>
                <p>
                    We stay up-to-date with current trends in the industry in order to give you exactly what you are
                    looking for. We use the best products in the industry to make sure your luxury homes last for years
                    and years to come. And you can take comfort in knowing that your new luxury home is covered by a
                    2-year builder warranty, and a 10- year limited structural warranty.
                </p>
                <p>
                    When you choose to work with Mike Hollaway Custom Homes, rest assured that you are receiving
                    personalized attention and impeccable service that is second to none.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}