.navbar{
    &-brand{
        padding: 12px 17px;
        margin: 0;
        width: 100%;
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        & img{
            width: 200px;
        }
        &-action{
            width: fit-content;
        }
    }
    &-nav{
        & li{
            & a{
                font-size: 0.9rem;
            }
        }
    }
}

@media screen and(min-width: $bp-ld){
    .navbar{
        &-nav{
            & li{
                & a{
                    font-size: 1rem;
                }
            }
        }
    }
}

// Set a media screen 
@media screen and (min-width: $bp-generic){
    .navbar{
        &-brand{
            padding: 10px 35px;
            & img{
                width: 250px;
            }
        }
        &-nav{
            padding: 10px 35px;
            & li{
                & a{
                    font-size: 1.1rem;
                    margin: 0 10px;
                }
            }
        }
    }
}